@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CRUDASP.ViewModels.EmpleadoVM;
<html>
    <head>
        <title>Registrarse</title>
    </head>
    <body>
        <div class="row mt-5 justify-content-center">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Registrarse
                    </div>
                    <div class="card-body">
                        <form asp-controller="Acceso" asp-action="Registrarse" method="POST">
                            <label>Cedula</label>
                            <input type="text" class="form-control mb-3" asp-for="Cedula" required />
                            <label>Nombre Completo</label>
                            <input type="text" class="form-control mb-3" asp-for="NombreCompleto" required />
                            <label>Correo</label>
                            <input type="email" class="form-control mb-3" asp-for="correo" required />
                            <label>Contraseña</label>
                            <input type="text" class="form-control mb-3" asp-for="password" required />
                            <label>Confirmar contraseña</label>
                            <input type="text" class="form-control mb-3" asp-for="Confirmarpassword" required />
                            
                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit">Registrarse</button>
                            </div>

                            @if(ViewData["Mensaje"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewData["Mensaje"]
                                </div>        
                            }
                            Ya tienes cuenta? <a asp-controller="Acceso" asp-action="Login">Iniciar sesión</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>